html, body {
    font-family: serif;
}
body {
    margin: 20px;
    /* background-color: rgb(228, 228, 228); */
}
input[type="number"]{
    width: 80px;
}


.table-calendar{
    margin-top: 10px;
    border-collapse: collapse;
}
.table-calendar td, th{
    width: 16px;
    height: 18px;
    padding: 3px;
    text-align: center;
    border: 1px solid #000;
}
.table-calendar__th{
    background-color: #d6d6d6;
}
.table-calendar__th-weekends{
    background-color: #ff97ab;
}




